/* General style*/

html,body{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: linen;
}

a {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    text-justify: auto;
    
}

/* header styles*/

body header{
    overflow: hidden;
    width: 100%;
    border-bottom: 0.01em solid gray;
    border-width: 100%;
}

/* styles for lists and links */

ul{

    text-align: center;
    list-style-type: none;
    word-spacing: 1em;
    
}

body ul li{
    
    display: inline-block;
    
}

body ul li a{
    text-decoration: none;
    font-size: 2em;
    
}

/* main content styles */

main{
    position: relative;
    height: 100%;
    margin: 3em 0 3em 10em;
    width: 80%;
    border-width: thin;
    
}

main article{
    float: left;
    width: 100%;
    height: 50%;
    margin-bottom: 10em;
    
}

main article h1{
    line-height: 10%;
    text-align: center;
    
}

main article h3{
    color: gray;
    font-weight: 100;
    line-height: 0%;
    font-style: italic;
    text-align: center;
    padding-bottom: 4em;
}

main article p{
    padding-right: 1em;
    margin-right: 1em;
}

main article.dotted-border{
    border-bottom: 1px dotted gray;
    width: 100%;
    padding-bottom: 50px;
}

#home-main-section{
    float: left;
    width: 50%;
}

#home-img-section{
    float: right;
    padding-top: 3em;
    width: 40%;

}

/* portfolio styles */

section.portfolio-description{
    padding-top: 1em;
    clear: both;
}

#portfolio-main-image-one{
    float: left;
    margin-right: 1em;

}

/* resume styles */

#cv-intro-section{
      
    width: 100%;
    padding-top: 1.3em;
      
  }

#cv-intro-first-div{
    width: 40%;
    float: left;
      
  }

#cv-intro-second-div{
    float: right;
      
      
}

#cv-section-h3{
    line-height: 0.01em;
    text-align: left;
  }

#cv-profiel{
    clear: both;
    width: 100%;
    padding-top: 3em;
    border-top: 0.1em solid gray;
  }

.cv-section-h2{
    float: left;
    width: 20%;

  }

.cv-section-p{
    float: right;
    width: 80%;

  }

#cv-opleiding{
    clear: both;
    padding-top: 3em;
  }

#cv-skills{
    clear: both;
    padding-top: 3em;
  }

.styled-unordered-lists {
    display: flex;
    word-spacing: 0.3em;
    font-style: italic;
      
  }
.styled-unordered-lists-skills{
    display: flex;
    word-spacing: 0.3em;
      
  }



/* footer styles*/

footer{
    border-top: 1px solid gray;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: papayawhip;
    bottom: 0px;
    padding-bottom: 1em;
}


#foot {
    width: 100%;
    height: 100%;
    text-align: center;
}


#foot img{
    width: 2em;
    height: 2em;
}

  /* Styles for smaller screen sizes */

  @media only screen and (max-width:600px){

    
#home-img-section{
    display:none;

    }
    
#home-main-section{
    min-width: 110%;
        
    }

body header{
    min-width: 125%;
    }

.cv-section-h2{
    float: left;
    width: 20%;
    padding-right: 1em;
  
    }
}
  

  

  